# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. GGPLOT

|Data Science Tools|
|------------------|
|Python|
|R|
|Julia|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200 // 60

3

**Objectives:**
+ Data type
+ R
+ Python
+ SQL and NoSQL

## author:
Parsa